extends ../layout
include ../mixins/updateForms.jade

block content
  .flixnet-top-section.mdl-typography--text-center
    .flixnet-logo-font.flixnet-sub-slogan #{localesStrings['Update Relationship']}:
    .flixnet-logo-font.mdl-typography--font-light
      br
      +relationshipUpdateForm
      br
      p#asHint *Please enter multiple roles as a comma separated list
    script.
      document.getElementById('optionSource').textContent = '#{relationship.row[0]}';
      document.getElementById('optionType').textContent = '#{relationship.row[1]}';
      document.getElementById('optionTarget').textContent = "#{relationship.row[2]}";
      document.getElementById('property').value = '#{relationship.row[3]}';

      app.content.htmlElements.toggleViewUpdateRelationship(!{JSON.stringify(relationship)});
